  .add-book-form {
    position: absolute;
    width: 50%;
    top: 20vh;
    left: 50vh;
    height: 30vh;
    padding: 7px;
    background-color: #64ccc5;
    color: #04364a;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #04364a;
  }

  .is-read-button {
    width: fit-content;
  }

  input {
    width: 100%;
    height: 1.7em;
    border: 1px solid #176b87;
    border-radius: 12px;
    color: #04364a;
    background-color: #dafffb;
  }