  .new-book-button-container {
    display: flex;
    justify-content: center;
  }

  button {
    padding: 7px 12px;
    background-color: #dafffb;
    color: #04364a;
    border: 1px solid #04364a;
    border-radius: 12px;
    transition: 0.5s ease-in-out;
  }

  button:hover {
    background-color: #04364a;
    color: #dafffb;
    border-color: #dafffb;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }